<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @movies.each do |movie| %>
        <div class="project-card">
          <div class="picture">
            <% if movie.link? %>
              <%= link_to movie.link, target: "_blank" do %>
                <%= instance_image_tag movie.photo, height: 300, width: 220, crop: :fill %>
              <% end %>
            <% else %>
              <%= instance_image_tag movie.photo, height: 300, width: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="content">
            <% if movie.link? %>
              <h2><%= link_to movie.title, movie.link, target: "_blank" %></h2>
            <% else %>
              <h2><%= movie.title %></h2>
            <% end %>
            <div class="d-flex">
              <% if movie.movie_type? || movie.genre? %>
                <p class="type"><%= movie.genre %><%= ' / ' if movie.genre? %><%= movie.movie_type %></p>
              <% end %>
            </div>
            <% if movie.year? %>
              <p class="details"><span><%= movie.year %></span></p>
            <% end %>
            <% if movie.director? %>
              <p class="details">Directed by <span><%= movie.director %></span></p>
            <% end %>
            <% if movie.casting? %>
              <p class="details">Casting <span><%= movie.casting %></span></p>
            <% end %>
            <% if movie.production? %>
              <p class="details">Produced by <span><%= movie.production %></span></p>
            <% end %>
            <% if movie.as_assistant? %>
              <p class="details">Role <span>Assistant</span></p>
            <% end %>
            <% if movie.informations? %>
              <div class="rewards"><%= simple_format movie.informations %></div>
            <% end %>
          </div>
        </div>
        <div class="project-card-mobile">
          <div class="project-data">
            <div class="picture">
              <% if movie.link? %>
                <%= link_to movie.link, target: "_blank" do %>
                  <%= instance_image_tag movie.photo, height: 150, width: 110, crop: :fill %>
                <% end %>
              <% else %>
                <%= instance_image_tag movie.photo, height: 150, width: 110, crop: :fill %>
              <% end %>
            </div>
            <div class="title">
              <% if movie.link? %>
                <h2><%= link_to movie.title, movie.link, target: "_blank" %></h2>
              <% else %>
                <h2><%= movie.title %></h2>
              <% end %>
              <div class="d-flex">
                <% if movie.movie_type? || movie.genre? %>
                  <p class="type"><%= movie.genre %><%= ' / ' if movie.genre? %><%= movie.movie_type %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="content">
            <% if movie.year? %>
              <p class="details"><span><%= movie.year %></span></p>
            <% end %>
            <% if movie.director? %>
              <p class="details">Directed by <span><%= movie.director %></span></p>
            <% end %>
            <% if movie.casting? %>
              <p class="details">Casting <span><%= movie.casting %></span></p>
            <% end %>
            <% if movie.production? %>
              <p class="details">Produced by <span><%= movie.production %></span></p>
            <% end %>
            <% if movie.as_assistant? %>
              <p class="details">Role <span>Assistant</span></p>
            <% end %>
            <% if movie.informations? %>
              <div class="rewards"><%= simple_format movie.informations %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="pagination">
        <%= link_to_prev_page @movies, 'Previous' %>
        <%= link_to_next_page @movies, 'Next' %>
      </div>
    </div>
  </div>
</div>
