<ul class="navbar-mh">
  <li>
    <%= link_to "Games", "#", class: 'active' %>
  </li>
  <li>
    <%= link_to "Movies", "#" %>
  </li>
  <li>
    <%= link_to "IMDB", "https://www.imdb.com/name/nm7161845/", target: "_blank" %>
  </li>
  <li>
    <%= link_to "Spotify", "https://www.imdb.com/name/nm7161845/", target: "_blank" %>
  </li>
  <li>
    <%= link_to "Infos", "#" %>
  </li>
  <li>
    <%= link_to "Contact", "#" %>
  </li>
</ul>
