<div class="container">
  <div class="row">
    <div class="col">
      <div class="wrapper-800">
        <h1 class="h4 mb-4">Contact me</h1>
        <%= simple_form_for @message, html: { class: "contact-form mb-5" } do |f| %>
          <%= invisible_captcha %>
          <%= f.input :email, label: false, placeholder: "your@email.com" %>
          <%= f.input :subject, label: false, placeholder: "Type the object of your message here" %>
          <%= f.input :content, label: false, placeholder: "Type your message here", input_html: { rows: 8 } %>
          <div class="d-flex justify-content-end">
            <%= f.submit "Send message", class: "btn btn-default" %>
          </div>
        <% end %>
        <hr>
        <p>For <strong>video games</strong> purpose: <a href = "mailto: contact@g4f.fr">contact@g4f.fr</a></p>
      </div>
    </div>
  </div>
</div>
