<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="h4 mb-4">Contact</h1>
      <%= simple_form_for @message do |f| %>
        <%= invisible_captcha %>
        <%= f.input :email, label: false, placeholder: "your@email.com" %>
        <%= f.input :subject, label: false, placeholder: "Type the object of your message here" %>
        <%= f.input :content, label: false, placeholder: "Type your message here" %>
        <div class="d-flex justify-content-end">
          <%= f.submit "Send message", class: "btn btn-default" %>
        </div>
      <% end %>
      <hr>
      <p>For <strong>video games</strong> purpose: <a href = "mailto: contact@g4f.fr">contact@g4f.fr</a></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag "maxime_herve_contact.jpg", width: "100%" %>
    </div>
  </div>
</div>
