<div class="container">
  <div class="wrapper-800">
    <div class="row">
      <div class="col">
        <h1 class="h5 mb-4">Contact</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= image_tag "MAXIMEHERVE_PORTRAIT.jpg", alt: "Maxime Hervé - French music composer based in Paris", class: "w-100" %>
        <p class="text-muted text-end fw-lighter small mb-4">photo credit: Alex Legallet</p>
      </div>
      <div class="col-12 col-md-8">
        <%= simple_form_for @message, html: { class: "contact-form mb-5" } do |f| %>
          <%= invisible_captcha %>
          <%= f.input :email, label: false, placeholder: "your@email.com", wrapper_html: {class: "mb-2"} %>
          <%= f.input :subject, label: false, placeholder: "Type the object of your message here", wrapper_html: {class: "mb-2"} %>
          <%= f.input :content, label: false, placeholder: "Type your message here", input_html: { rows: 8 }, wrapper_html: {class: "mb-2"} %>
          <div class="d-flex justify-content-end">
            <%= f.submit "Send message", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
        <p>For <strong>video games</strong> purpose: <a href = "mailto: contact@g4f.fr">contact@g4f.fr</a></p>
      </div>
    </div>
  </div>
</div>
