<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @games.each do |game| %>
        <div class="game-card ">
          <div class="picture">
            <%= instance_image_tag game.photo, height: 200, width: 315, crop: :fill %>
          </div>
          <div class="game-content">
            <h4><%= game.title %></h4>
            <% if game.developer? %>
              <p><span>Développeur </span><%= game.developer %></p>
            <% end %>
            <% if game.editor? %>
              <p><span>Editeur </span><%= game.editor %></p>
            <% end %>
            <% if game.franchise? %>
            <p><span>Franchise </span><%= game.franchise %></p>
            <% end %>
            <% if game.genre? %>
              <p><span>Genre </span><%= game.genre %></p>
            <% end %>
            <% if game.year? %>
              <p class="game-published"><span>date de parution </span><%= game.year%></p>
            <% end %>
          </div>
        </div>
        <div class="game-card-mobile">
          <div class="picture-mobile">
            <%= instance_image_tag game.photo, effect:"gradient_fade,y_-0.5,b_rgb:050505", crop: :fill%>
            <h4 class="title-inside-mobile"><%= truncate(game.title,19)%></h4>
          </div>
          <div class="game-content-mobile">
              <% if game.title? %>
                <p class="title-mobile"><%= game.title %></p>
              <% end %>
              <% if game.franchise? %>
              <p><span>Franchise </span><%= game.franchise %></p>
              <% end %>
              <% if game.developer? %>
                <p><span>Développeur </span><%= game.developer %></p>
              <% end %>
              <% if game.editor? %>
                <p><span>Editeur </span><%= game.editor %></p>
              <% if game.genre? %>
                <p><span>Genre </span><%= game.genre %></p>
              <% end %>
              <% if game.year? %>
                <p class="game-published"><span>date de parution </span><%= game.year%></p>
              <% end %>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
