<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @games.each do |game| %>
        <div class="game-card ">

          <div class="picture">
            <%= instance_image_tag game.photo, height: 200, width: 315, crop: :fill %>
          </div>
          <div class="game-content">
            <h4><%= game.title %></h4>
            <% if game.developer? %>
              <p><span>Développeur </span><%= game.developer %></p>
            <% end %>
            <% if game.editor? %>
              <p><span>Editeur </span><%= game.editor %></p>
            <% end %>
            <% if game.franchise? %>
            <p><span>Franchise </span><%= game.franchise %> </p>
            <% end %>
            <% if game.genre? %>
              <p><span>Genre </span> <%= game.genre %></p>
            <% end %>
            <% if game.year? %>
              <p class="game-published"><span>date de sortie </span> <%= game.year%></p>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
