<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @games.each do |game| %>
        <div class="project-card">
          <div class="picture">
            <% if game.link? %>
              <%= link_to game.link, target: "_blank" do %>
                <%= instance_image_tag game.photo, height: 300, width: 220, crop: :fill %>
              <% end %>
            <% else %>
              <%= instance_image_tag game.photo, height: 300, width: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="content">
            <% if game.link? %>
              <h2><%= link_to game.title, game.link, target: "_blank" %></h2>
            <% else %>
              <h2><%= game.title %></h2>
            <% end %>
            <% if game.genre? %>
              <p class="type"><%= game.genre %></p>
            <% end %>
            <% if game.year? %>
              <p class="details"><span><%= game.year %></span></p>
            <% end %>
            <% if game.developer? %>
              <p class="details">Developed by <span><%= game.developer %></span></p>
            <% end %>
            <% if game.editor? %>
              <p class="details">Edited by <span><%= game.editor %></span></p>
            <% end %>
            <% if game.role? %>
              <br>
              <p class="details">Role <span><%= game.role %></span></p>
              <% if game.composer? %>
                <p class="details">Composer <span><%= game.composer %></span></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="project-card-mobile">
          <div class="project-data">
            <div class="picture">
              <% if game.link? %>
                <%= link_to game.link, target: "_blank" do %>
                  <%= instance_image_tag game.photo, height: 150, width: 110, crop: :fill %>
                <% end %>
              <% else %>
                <%= instance_image_tag game.photo, height: 150, width: 110, crop: :fill %>
              <% end %>
            </div>
            <div class="title">
              <% if game.link? %>
                <h2><%= link_to game.title, game.link, target: "_blank" %></h2>
              <% else %>
                <h2><%= game.title %></h2>
              <% end %>
              <% if game.genre? %>
                <p class="type"><%= game.genre %></p>
              <% end %>
            </div>
          </div>
          <div class="content">
            <% if game.year? %>
              <p class="details"><span><%= game.year %></span></p>
            <% end %>
            <% if game.developer? %>
              <p class="details">Developed by <span><%= game.developer %></span></p>
            <% end %>
            <% if game.editor? %>
              <p class="details">Edited by <span><%= game.editor %></span></p>
            <% end %>
            <% if game.role? %>
              <br>
              <p class="details">Role <span><%= game.role %></span></p>
              <% if game.composer? %>
                <p class="details">Composer <span><%= game.composer %></span></p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="pagination">
        <%= link_to_prev_page @games, 'Previous' %>
        <%= link_to_next_page @games, 'Next' %>
      </div>
    </div>
  </div>
</div>
