<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @games.each do |game| %>
        <div class="movie-card">
          <div class="picture">
            <% if game.link? %>
              <%= link_to game.link, target: "_blank" do %>
                <%= instance_image_tag game.photo, height: 300, width: 220, crop: :fill %>
              <% end %>
            <% else %>
              <%= instance_image_tag game.photo, height: 300, width: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="content">
            <% if game.link? %>
              <h2><%= link_to game.title, game.link, target: "_blank" %></h2>
            <% else %>
              <h2><%= game.title %></h2>
            <% end %>
            <% if game.genre? %>
              <p class="type"><%= game.genre %></p>
            <% end %>
            <% if game.year? %>
              <p class="details"><span><%= game.year %></span></p>
            <% end %>
            <% if game.developer? %>
              <p class="details">Developed by <span><%= game.developer %></span></p>
            <% end %>
            <% if game.editor? %>
              <p class="details" >Edited by <span><%= game.editor %></span></p>
            <% end %>
            <% if game.role? %>
              <p class="details" >Role <span><%= game.role %></span></p>
            <% end %>
          </div>
        </div>
        <div class="movie-card-mobile">
          <div class="movie-data">
            <div class="picture">
              <% if game.link? %>
                <%= link_to game.link, target: "_blank" do %>
                  <%= instance_image_tag game.photo, height: 150, width: 110, crop: :fill %>
                <% end %>
              <% else %>
                <%= instance_image_tag game.photo, height: 150, width: 110, crop: :fill %>
              <% end %>
            </div>
            <div class="title">
              <% if game.link? %>
                <h2><%= link_to game.title, game.link, target: "_blank" %></h2>
              <% else %>
                <h2><%= game.title %></h2>
              <% end %>
            </div>
          </div>
          <div class="content">

          </div>
        </div>
      <% end %>
<!--  <div class="pagination">
        <%#= link_to_prev_page @games, 'Previous' %>
        <%#= link_to_next_page @games, 'Next' %>
      </div> -->
    </div>
  </div>
</div>







<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% @games.each do |game| %>
        <div class="game-card ">
          <div class="picture">
            <%= instance_image_tag game.photo, height: 200, width: 315, crop: :fill %>
          </div>
          <div class="game-content">
            <h4><%= game.title %></h4>
            <% if game.developer? %>
              <p><span>Developer </span><%= game.developer %></p>
            <% end %>
            <% if game.editor? %>
              <p><span>Editor </span><%= game.editor %></p>
            <% end %>
            <% if game.year? %>
              <p class="game-published"><span>Release date </span><%= game.year%></p>
            <% end %>
          </div>
        </div>
        <div class="game-card-mobile">
          <div class="picture-mobile">
            <%= instance_image_tag game.photo, effect:"gradient_fade,y_-0.5,b_rgb:050505", crop: :fill%>
            <h4 class="title-inside-mobile"><%= truncate(game.title,19)%></h4>
          </div>
          <div class="game-content-mobile">
            <% if game.title? %>
              <p class="title-mobile"><%= game.title %></p>
            <% end %>
            <% if game.developer? %>
              <p><span>Developer </span><%= game.developer %></p>
            <% end %>
            <% if game.editor? %>
              <p><span>Editor </span><%= game.editor %></p>
            <% end %>
            <% if game.year? %>
              <p class="game-published"><span>Release date </span><%= game.year%></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
